$color_primary: cadetblue;
$color_primary_light: lighten($color_primary, 30%);
//$color_secondary: teal;
$color_text: #2c3e50;
$color_background_primary: white;
$color_background_secondary: rgb(56, 56, 56);
$color_background_secondary_light: lighten($color_background_secondary, 30%);